In [5]:
import pandas as pd
import numpy as np

# Create a reference the CSV file desired
file = "Resources/election_data.csv"

# Read the CSV into a Pandas DataFrame
election_data = pd.read_csv(file)

In [6]:
# Print the first five rows of data to the screen
election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
election_data.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [8]:
election_data["Vote Count"] = election_data["Candidate"]

In [9]:
# List all the columns the table provides
election_counts = election_data["Vote Count"].value_counts()
election_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Vote Count, dtype: int64

In [10]:
total = election_data['County'].count()
total

3521001

In [11]:
election_data["Vote percent"] = election_data["Candidate"]

In [12]:
election_data_pct = (election_data["Vote percent"].value_counts()) / total
election_data_pct

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Vote percent, dtype: float64

In [13]:
#df = pd.DataFrame({election_counts, election_data_pct})
election_summary = pd.concat([election_counts, election_data_pct], axis=1)
election_summary

          Vote Count  Vote percent
Khan         2218231          0.63
Correy        704200          0.20
Li            492940          0.14
O'Tooley      105630          0.03

In [26]:
winner = election_data_pct.to_frame()
winner = winner.reset_index()

In [30]:
type(winner)

pandas.core.frame.DataFrame

In [47]:
winner = winner.iloc[0]

In [ ]:
election_summary

In [49]:
print("```text \n  Election Results \n  -------------------------".format(),) 
print("  Total Votes: ".format(),total)
print("  -------------------------".format(),) 
print("".format(),election_summary)
print("  -------------------------".format(),) 
print("  ".format(),) 
print("  Winner is ".format(),winner) 
print("  -------------------------".format(),)

```text
  Election Results
  -------------------------
  Total Votes:  3521001
  -------------------------
           Vote Count  Vote percent
Khan         2218231          0.63
Correy        704200          0.20
Li            492940          0.14
O'Tooley      105630          0.03
  -------------------------

  Winner is  index           Khan
Vote percent    0.63
Name: 0, dtype: object
  -------------------------