In [1]:
import pandas as pd
import numpy as np

# Create a reference the CSV file desired
file = "../Resources/budget_data.csv"


# Read the CSV into a Pandas DataFrame
budget_data = pd.read_csv(file)

# Print the first five rows of data to the screen
budget_data.head()

FileNotFoundError: File b'../Resources/budget_data.csv' does not exist

In [16]:
# List all the columns the table provides
budget_data.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [17]:
# The sum method adds every entry in the series
months = budget_data["Profit/Losses"].count()
months

86

In [18]:
# The sum method adds every entry in the series
total = budget_data["Profit/Losses"].sum()
total

38382578

In [19]:
Avg = budget_data["Profit/Losses"].mean()
round(Avg,2)

446309.05

In [21]:
#Avg.map("${:.2f}".format)

In [22]:
budget_data_max = budget_data["Profit/Losses"].max()
budget_data_max

1170593

In [24]:
#budget_data.pct_change()
#budget_data['budget_pct'] = (budget_data['Profit/Losses'].shift - (budget_data['data_list']) / budget_data['data_list']

#budget_data["data_list"] = budget_data["Profit/Losses"].shift(periods=-1)
budget_data
budget_data.columns

budget_data.head()
#  To get the increase or decrease???
#i=int
#  i = len(budget[0])
#  for 1 to i
#     budget['C'] = (budget([0] +1) - budget[0])/budget[0]
#  next i
#  end for

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [25]:
#created a new column and shifted the values up one
budget_data["data_list"] = budget_data["Profit/Losses"].shift(periods=-1)
budget_data["data_list"]

0      984655.0
1      322013.0
2      -69417.0
3      310503.0
4      522857.0
5     1033096.0
6      604885.0
7     -216386.0
8      477532.0
9      893810.0
10     -80353.0
11     779806.0
12    -335203.0
13     697845.0
14     793163.0
15     485070.0
16     584122.0
17      62729.0
18     668179.0
19     899906.0
20     834719.0
21     132003.0
22     309978.0
23    -755566.0
24    1170593.0
25     252788.0
26    1151518.0
27     817256.0
28     570757.0
29     506702.0
        ...
56     947333.0
57     578668.0
58     988505.0
59    1139715.0
60    1029471.0
61     687533.0
62    -524626.0
63     158620.0
64      87795.0
65     423389.0
66     840723.0
67     568529.0
68     332067.0
69     989499.0
70     778237.0
71     650000.0
72   -1100387.0
73    -174946.0
74     757143.0
75     445709.0
76     712961.0
77   -1163797.0
78     569899.0
79     768450.0
80     102685.0
81     795914.0
82      60988.0
83     138230.0
84     671099.0
85          NaN
Name: data_list, Length: 86, dtype: float64

In [26]:
#calculated the budget_data.pct_change()
budget_data['budget_pct'] = 100*((budget_data['data_list'] - budget_data['Profit/Losses']) / budget_data['Profit/Losses'])
budget_data.head()

       Date  Profit/Losses  data_list  budget_pct
0  Jan-2010         867884   984655.0   13.454678
1  Feb-2010         984655   322013.0  -67.296870
2  Mar-2010         322013   -69417.0 -121.557204
3  Apr-2010         -69417   310503.0 -547.301093
4  May-2010         310503   522857.0   68.390322

In [67]:
# identified the greatest decrease

budget_data_min = budget_data["budget_pct"].min()
round(budget_data_min,2)
Decrease_change = round(budget_data_min,2)
Decrease_change

-1070.48

In [68]:
# identified the greatest increase

round(budget_data['budget_pct'].max(), 2)
Greatest_change = round(budget_data_max,2)
Greatest_change

1170593

In [69]:
# identified the average change

round(budget_data['budget_pct'].mean(),2)

-28.67

In [ ]:
#  Text

In [ ]:
#Tried to get the dates for the max and min change below
#print("Greatest Increase in Profits: ").format() ,df.loc[budget_data["Date"], budget_data["Profit/Losses"].min()

In [70]:
print("Financial Analysis".format())
print("----------------------------".format() )
print("Total Months: ".format() ,months)
print("Total: $".format() ,total)
print("Average  Change: $".format() ,round(budget_data['budget_pct'].mean(),2))
print("Greatest Increase in Profits: $".format(), Greatest_change)
print("Greatest Decrease in Profits: : $".format() ,Decrease_change)

Financial Analysis
----------------------------
Total Months:  86
Total: $ 38382578
Average  Change: $ -28.67
Greatest Increase in Profits: $ 1170593
Greatest Decrease in Profits: : $ -1070.48