In [18]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
from os.path  import basename
import re
import time

# Mac Users

In [19]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [20]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [33]:
# Extract title text
html = browser.html
soup = bs(html, 'html.parser') 
    
# news_title = soup.title.text
news_title = soup.find('div',{'class':'content_title'}).text
print(news_title)

Third ASPIRE Test Confirms Mars 2020 Parachute a Go

In [35]:
# Extract title text
html = browser.html
soup = bs(html, 'html.parser') 
    
# news_p = soup.title.text
news_p = soup.find('div',{'class':'rollover_description_inner'}).text
print(news_p)

The supersonic parachute that will handle the heaviest payload yet to the Red Planet – Mars 2020 rover – passes its final sounding rocket test with flying colors.

In [36]:
print(f'News Title: {news_title}')
print(f'News: {news_p}')

News Title: Third ASPIRE Test Confirms Mars 2020 Parachute a Go
News: The supersonic parachute that will handle the heaviest payload yet to the Red Planet – Mars 2020 rover – passes its final sounding rocket test with flying colors.

## Finding Mars featured image

In [121]:
# https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [122]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=feature&category=Mars#submit'
browser.visit(url)

In [123]:
# below from: https://stackoverflow.com/questions/18497840/beautifulsoup-how-to-open-images-and-download-them
browser.find_by_xpath('//*[@id="full_image"]').click()

time.sleep(3)

# Extract title text
html = browser.html
soup = bs(html, 'html.parser') 

imgs = soup.find("img",{"class":"fancybox-image"})['src']
mar_imgs = "https://www.jpl.nasa.gov/space" +imgs
print(imgs)

/spaceimages/images/mediumsize/PIA19063_ip.jpg

In [124]:
print(mar_imgs)

https://www.jpl.nasa.gov/space/spaceimages/images/mediumsize/PIA19063_ip.jpg

## Finding Weather conditions on Mars from Twitter

In [38]:
twit_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twit_url)

In [39]:
# Extract title text
html = browser.html
soup = bs(html, 'html.parser') 

twt_title = soup.find('div',{'class':'js-tweet-text-container'}).text

print(twt_title)

Sol 2209 (2018-10-23), high -18C/0F, low -73C/-99F, pressure at 8.79 hPa, daylight 06:09-18:26

## Finding Mars Facts

In [127]:
fact_url = 'http://space-facts.com/mars'
browser.visit(fact_url)

# Extract title text
html = browser.html
soup = bs(html, 'html.parser')

In [128]:
# need to pull table using for loop
# using:  DataFrame.to_html

# Print all paragraph texts

table_df = pd.read_html('http://space-facts.com/mars')
table_df = table_df[0]
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [129]:
table_df.columns = ['0', '1']
table_df = table_df.rename(columns={'0': 'Description', '1': 'Values'})
table_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [130]:
table_df = table_df.to_html()
table_df

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Finding Mars Hemisphere images

In [146]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [9]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
response_hemi = requests.get(url)
soup = bs(response_hemi.text, 'html.parser') 

ilinks = soup.find_all("a",class_="itemLink product-item")
titles= []
links = []
for ilink in ilinks:
    title= ilink.find("h3").text
    link = ilink["href"]
    titles.append(title)
    links.append(link)
    
print(titles)
print(links)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']
['/search/map/Mars/Viking/cerberus_enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced']

In [15]:
# Loop through returned urls with titles 

browser.visit(url)
hemi_img_urls = []
mars_look =[]

for i in range(len(titles)):
    
    try:
        browser.click_link_by_partial_text(titles[i])
        
    except:
        browser.find_link_by_text('2').first.click()
        browser.click_link_by_partial_text(titles[i])
    html = browser.html
    soup1 = bs(html, 'html.parser')

    hemi_downloads = soup1.find('div', 'downloads')
    print(titles[i], '-----------')
    hemi_url = hemi_downloads.a['href']
    print(hemi_url)
    hemi_dict = {"title": titles[i], 'img_url':hemi_url}
    hemi_img_urls.append(hemi_dict)
    
print(hemi_img_urls)

Cerberus Hemisphere Enhanced -----------
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced -----------
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced -----------
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced -----------
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
hemi_img_urls

In [16]:
print(hemi_img_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]